<table class="table table-hover">
      <tbody>
          <tr ng-if="patient.fullNames()"> 
               <td> <b> Name : </b></td>
               <td> {{patient.fullNames() | titlecase }} </td>
          </tr> 
          <tr>
          <td><b> Date of Birth : </b></td>
          <td>{{patient.birthdate()| date:'dd-MM-yyyy'}} ({{patient.age()}}&nbsp year(s))</td> 
          </tr>
          <tr>
          <td> <b>Phone Number : </b></td>
          <td> {{patient.phoneNumber()}}
               <span ng-if="patient.phoneNumber()==null">Not Available</span></td>
          </tr>
          <tr ng-if="patient.healthCenter()"> 
               <td> <b>Health Center : </b></td>
               <td> {{patient.healthCenter()}} </td>
           </tr> 
           <tr ng-if="patient.isTestorFakePatient()"> 
               <td> <b>Test Patient </b></td>
           </tr> 
           <tr  ng-if="patient.deathDate()"> 
               <td><b>Death Date : </b></td>
               <td>{{patient.deathDate()}}</td>
           </tr> 
           <tr ng-if="patient.phoneNumber()">
               <td><b>Phone Number :</b> </td>
               <td>{{patient.phoneNumber()}}</td>
           </tr>
           <tr ng-if="patient.address().county">
               <td> <b>County : </b> </td>
               <td>{{patient.address().county| titlecase }} </td>
           </tr>
           <tr ng-if="patient.address().subCounty">
               <td> <b>Sub-County :</b> </td>
               <td> {{patient.address().subCounty| titlecase }} </td>
           </tr>
           <tr ng-if="patient.address().estateLandmark">
               <td><b> Estate/Landmark : </b></td> 
               <td> {{patient.address().estateLandmark| titlecase }} </td>
           </tr>
           <tr ng-if="patient.address().townVillage">
               <td> <b>Town/Village :</b></td>
               <td> {{patient.address().townVillage| titlecase }}</td>
           </tr>
           <tr  ng-if="patient.address().stateProvince">
               <td><b> State/Province :</b></td>
               <td>{{patient.address().stateProvince| titlecase }}</td>
           </tr>
           <tr>
           <td><b>AMRS UID : </b></td>
           <td><span ng-if="patient.commonIdentifiers().ampathMrsUId">{{patient.commonIdentifiers().ampathMrsUId}}</span>
            <span ng-if="patient.commonIdentifiers().ampathMrsUId==null">Not Available</span></td>
           </tr>
           <tr>
           <td><b>AMRS MRN : </b> </td>
           <td><span ng-if="patient.commonIdentifiers().amrsMrn">{{patient.commonIdentifiers().amrsMrn}}</span>
            <span ng-if="patient.commonIdentifiers().amrsMrn==null">Not Available</span></td>
           </tr>
           <tr>
           <td><b>CCC :</b></td>
           <td><span ng-if="patient.commonIdentifiers().cCC"> {{patient.commonIdentifiers().cCC}} </span>
            <span ng-if="patient.commonIdentifiers().cCC==null">Not Available</span></td>
           </tr>
           <tr>
           <td><b>National ID:</td>
           <td><span ng-if="patient.commonIdentifiers().kenyaNationalId">{{patient.commonIdentifiers().kenyaNationalId}}</span>
            <span ng-if="patient.commonIdentifiers().kenyaNationalId==null">Not Available</span></td>
           </tr>
      </tbody>
</table>